<nav class="h-[10vh] w-full  absolute  flex  items-end justify-between px-10 gap-20">
    <a href="/" class="text-neutral-300 text-5xl text-end  hover:text-neutral-500 duration-500">Social</a>
    <i class="ri-menu-line text-neutral-300 text-3xl hover:text-neutral-500 duration-500"></i>
</nav>