<nav class="bg-neutral-900 h-[50vh] w-[7vw] flex flex-col justify-center text-center text-white gap-10 text-2xl rounded-[10vw] fixed top-[25%] left-5">
    <a href="/" class="hover:text-neutral-500 text-4xl text-neutral-200"><i class="ri-home-line"></i></a>
    <a href="/about" class="hover:text-neutral-500 text-xl text-neutral-200">About</a>
    <a href="/contact" class="hover:text-neutral-500 text-xl text-neutral-200">Contact</a>
    <a href="/login" class="hover:text-neutral-500 text-xl text-neutral-200">Login</a>
</nav>