<%-include("partials/header")%>
<%-include("partials/nav")%>
<%-include("partials/logo")%>
<main class="text-white bg-neutral-800 min-h-screen">
 <div class="absolute translate-x-[-50%] translate-y-[-50%] absolute top-1/2 left-1/2">
     <h1 class=" mb-10 text-white text-5xl font-bold">This is Home Page</h1>
     <a class="bg-neutral-900 hover:bg-neutral-700 px-5 py-3 text-white rounded" href="/login">Start Your Journey</a>
 </div>
</main>
<%-include("partials/footer")%>


